/*===================================================================== Estilos globales*/

/*Importacion de fuente ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #42A692;
  --secondary-color:#1A171B;
  --variant-color-main: #00e5b5;
  --variant-color-secondary: #312F32;
  --third-color: #258c77;
  --icons-color: #888888;
  --border-color1: #bcd1e7;
  --input-background1: #f1f6f5;
  --soft:#F1F6F5;
  --soft2:#f0f0f0;
  --alert-color: #dc3545;
  --alert-color-hover: #9e1927;

}

.grid-container{
    display: grid;
    /*height: 100vh;*/
    width: auto;
    grid-template-areas: 
        "header"
        "menu"
        "principal"
        "contenido-adicional"
        "footer"
    ;
}

.header{
    grid-area: header;
    background-color: var(--secondary-color);
}


.menu{
    background-color:white;
    grid-area: menu;
  
}

.principal{
    background-color:#f7dc6f;
    grid-area: principal;

}

.contenido-adicional{
    background-color:#bb8fce;
    grid-area: contenido-adicional;
}

.footer{
    background-color:#85c1e9;
    grid-area: footer;
}

.item {
    /*border: solid 3px dodgerblue; */
    width: auto; 
    height: auto; 
    /*text-align: center;*/
}

/*============================================================================ Estilos del Header ==============*/

.header nav{
    grid-template-areas: 
        "header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1"
        "header2 header2 header2 header2 header2 header2 header2 header2 header2 header2 header2 header2"
        "header4 header4 header4 header4 header4 header4 header4 header4 header4 header4 header4 header4"
        "header5 header5 header5 header5 header5 header5 header5 header5 header5 header5 header5 header5"
        "header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3"
    ;

    row-gap: 15px;
}

.navbar-section1{
    grid-area: header1;
}

.navbar-section2{
    grid-area: header2;
    position: relative;
}
.navbar-section3{
    grid-area: header3;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    height: 100%;
    padding-left: 10px;
}
.navbar-section4{
    grid-area: header4;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.navbar-section5{
    grid-area: header5;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.navbar-section5>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.navbar-section5>div>span{
    font-size: 10px;
    color: var(--variant-color-main);
    text-transform: uppercase;
    font-weight: 600;
}

.icon-user-login{
    color: var(--main-color);
    font-size: 40px;
    cursor: pointer;
}

.icon-logout-login{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.header nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding: 15px 30px;
    height: 100%;
}

/* --------- Elemento input de la barra de navegación --------- */

#barra-filtro{
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 10px;
    border: 0;
    background-color: var(--variant-color-secondary);
    color: var(--variant-color-secondary);
    font-size: 16px;
}

/* == efecto hover a la barra de busqueda == */

#barra-filtro:hover{
    background-color: white;
    outline: 2px solid white;
}


/* == color de placeholder el elemento input == */

#barra-filtro::placeholder{
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}

/* == efecto hover al placeholder de la barra de busqueda == */

#barra-filtro:hover::placeholder{
    color: var(--icons-color);
}

/* == efecto focus a la barra de busqueda == */

#barra-filtro:focus{
    background-color: white;
    outline: 2px solid white;

}

/* == efecto focus al placeholder de la barra de busqueda == */

#barra-filtro:focus::placeholder{
    color: var(--icons-color);
}


.icon-1-header, .icon-2-header{
    position: absolute;
    color: var(--icons-color);
}

.icon-1-header{
    top:10px;
    left: 15px;
}

.icon-2-header{
    top:10px;
    right: 15px;
    display: none!important;
}

.icon-3-header{
    color: white;
    font-size: 22px;
}

.navbar-section3 a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 12px;
    row-gap: 5px;
    height: 100%;
    padding: 8px;
}

.navbar-section3 a:hover{
    border-bottom: 4px solid white;
    
}

/*============================================================================ Estilos del Header (Pagina registro y login) ==============*/

.navbar-register{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header2{
    padding: 20px 0;
}

/*============================================================================ Estilos del Header (Pagina Checkout) ==============*/

.navbar-checkout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--soft);
    border-bottom: 1px solid var(--icons-color);
    padding-right: 10px;
}

.navnar-icons-checkout{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.navnar-icons-checkout .icon-user{
    font-size: 30px;
    color: var(--main-color);
}

.navnar-icons-checkout .icon-arrow-down-nav{
    font-size: 10px;
    color: var(--secondary-color);
}



/* =========================== Mis Botones ==================================== */
.btn-main{
        padding: 9px 26px;
        border-radius: 20px;
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
        text-decoration: none;
        text-align: center;
}

.btn-main:hover{
        background-color: var(--third-color);
}

.btn-secondary{
        padding: 9px 26px;
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: 2px solid var(--main-color);
        color: var(--main-color);
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
        text-decoration: none;
}

.btn-secondary:hover{
        background-color: var(--main-color);
        color: white;
}

.btn-terciary{
        padding: 9px 26px;
        border-radius: 20px;
        background-color: var(--variant-color-main);
        border: 0;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
}

.btn-terciary:hover{
        background-color: var(--third-color);
}

.btn-alert{
        padding: 9px 26px;
        border-radius: 20px;
        background-color: var(--alert-color);
        border: 0;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
        text-decoration: none;
        text-align: center;
}

.btn-alert:hover{
        background-color: var(--alert-color-hover);
}

.btn-especial{
        padding: 9px 16px;
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: 2px solid var(--main-color);
        color: var(--main-color);
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
        text-decoration: none;
}

.btn-especial:hover{
        background-color: var(--main-color);
        color: white;
}

.btn-carrito{
        padding: 9px 15px;
        border-radius: 20px;
        background-color: var(--main-color);
        border: 0;
        color: white;
        font-weight: 600;
        cursor: pointer;
        font-size: 15px;
        letter-spacing: 0.6px;
        text-decoration: none; 
        display: flex;
        align-items: center;
        column-gap: 5px;
}

.btn-carrito:hover{
        background-color: var(--third-color);
}


/* =========================== Boton Flotante cart ==================================== */

#btn-flotante-cart{
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 7px 0px var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-top: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--main-color);
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 55%;
    text-decoration: none;

} 

#btn-flotante-cart:hover{
    background-color: var(--soft);
    color: var(--third-color);
    box-shadow: 0px 0px 10px 0px var(--main-color);
}

.icon-shopping-fotante{
    font-size: 35px;
    padding-left: 5px;
}

#btn-flotante-cart span{
    display: flex;
    color: white;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    font-weight: 700;
    border: 3px solid var(--input-background1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    right: 15%;
    top: 5%;
    font-size: 14px;
}

/* =========================== Cajas de Formulario ==================================== */

input[type="text"], input[type="email"],input[type="password"]{
    border: 0;
    padding: 10px 15px 10px 10px;
    border-radius: 3px;
    transition: box-shadow 0.2s ease;
    background-color: var(--input-background1);
}

select{
    border: 0;
    padding: 10px 15px 10px 10px;
    border-radius: 5px;
    background-color: var(--input-background1);
}

input[type="text"]:focus{
    background-color: white;
    outline: 1px solid var(--main-color);
    box-shadow:0px 0px 0px 4px rgba(0, 150, 136, 0.2);
}

input[type="email"]:focus{
    background-color: white;
    outline: 1px solid var(--main-color);
    box-shadow:0px 0px 0px 4px rgba(0, 150, 136, 0.2);
}

input[type="password"]:focus{
    background-color: white;
    outline: 1px solid var(--main-color);
    box-shadow:0px 0px 0px 4px rgba(0, 150, 136, 0.2);
}

select:focus{
    background-color: white;
    outline: 1px solid var(--main-color);
    box-shadow:0px 0px 0px 4px rgba(0, 150, 136, 0.2);  
}

input[type="text"]::placeholder{
    color: var(--icons-color);
    font-size: 16px;
    letter-spacing: 1px;
}

select::placeholder{
    color: var(--icons-color);
    font-size: 16px;
    letter-spacing: 1px;
}


/* ==================================== Estilos de Footer ========================= */

    .footer a{
        text-decoration: none;
        color: white;
    }

    .footer{
        display: grid;
        grid-template-areas: 
        "footer1" 
        "footer2"
        "footer3"
        "footer4"       
         ;
        background-color: var(--secondary-color);
        color: white;
        row-gap: 30px;
        padding: 70px 20px ;
    }

    .footer-section1{
        grid-area: footer1 ;
        align-items: center;
        row-gap: 12px;
    }
    .footer-section2{
        grid-area: footer2 ;
    }
    .footer-section3{
        grid-area: footer3 ;
    }
    .footer-section4{
        grid-area: footer4 ;
    }

    .footer-section1,.footer-section2,.footer-section3,.footer-section4{
        display: flex; /*Solo usamos una línea de codigo*/
        flex-direction: column; /*invertimos la direccion de los elementos a columna*/
    }

    footer .footer-section--header{
        color: var(--main-color);
        font-weight: 700;
        padding-bottom: 15px;
    }

    .icons-media-container{
        display: flex;
        column-gap: 15px;
    }

    .icons-media-container > div{
        width: 44px;
        height: 44px;
        background-color: var(--main-color) ;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-media{
        font-size: 24px;
    }

    .icons-media-container a{
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icons-media-container > div:hover{
        background-color: var(--third-color);
    }

    .icons-media-container a:hover{
        color: var(--variant-color-main);
    }

    .footer-section2, .footer-section3, .footer-section4{
        align-items: start;
        font-size: 18px;
        row-gap: 20px;
    }

    .footer-section2 a:hover, .footer-section3 a:hover, .footer-section4 a:hover{
        text-decoration: underline;
    }



/* ====================================== Página Checkout ==================================== */

#grid-checkout{
    position: relative;
}

/*Menu*/
#menu-checkout{
    display: flex;
    flex-direction: column;
}

.menu-checkout-up{
    display: flex;
    align-items:  center;
    column-gap: 16px;
    padding: 15px 0px 8px 30px;
}

.icon-checkout-left{
    font-size: 20px;
}

.menu-checkout-up > div:nth-of-type(1) img{
    width: 45px;
}

.menu-checkout-up > div:nth-of-type(2) {
    display: flex;
    width: 60%;
    row-gap: 9px;
    flex-direction: column;
    align-items:start!important;
}

.menu-checkout-up > div:nth-of-type(2) h3{
    font-size: 14px;
    font-weight:900;
    text-transform: uppercase;
    line-height: 21px;
}

.menu-checkout-up > div:nth-of-type(2) >div>p{
    font-size: 11px;
    font-weight: 600;
}

.menu-checkout-down{
    background-color: var(--variant-color-main);
    padding: 8px 0px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.menu-checkout-down > p {
    font-size: 12px;
    font-weight: 500;
}

.menu-checkout-down >  div{
    font-weight: 900;
    font-size: 15px;
    word-spacing: 3px;

}

#principal-checkout{
    background-color: var(--soft2);
    padding-top: 20px;
}

/* **************************Checkout:Primera Sección de Principal > Sección de participantes*/

.principal{
    background-color: white;
    padding: 30px 0px;
}

.participantes-section{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 15px;
    padding: 0px 20px
}

.participantes-section >div{
   background-color: white; 

}

.participantes-section >div > h3{
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0px 15px 22px;
}

#asistente-info{
    /*border: 2px solid var(--variant-color-main);*/
    border-radius: 10px;
    padding: 20px 14px ;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    box-shadow: 0px 1px 3px 1px rgba(150, 167, 185, .4), 0 1px 2px  rgba(150, 167, 185, .7);
}

.asistente-info-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asistente-info-1>div{
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: var(--variant-color-secondary);
}

.asistente-info-1>div>i{
    font-size: 18px;
}

.asistente-info-1>i{
    font-size: 14px;
}

.asistente-info-2{
    display: flex;
    flex-direction: column;
}

.asistente-info-2>div{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    row-gap: 5px;
}

.asistente-info-2>div> p:nth-of-type(1){
    font-size: 11px;
    color: var(--variant-color-secondary);
    font-weight: 500;
   
}

.asistente-info-2>div> p:nth-of-type(2){
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.asistente-info-2>div> span{
    font-size: 13px;
    border: 1px solid var(--border-color1);
    padding: 6px 4px;
    border-radius: 8px;
    font-weight: 500;
    align-self: self-start;

}

.asistente-info--formulario{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.asistente-info--formulario > div:nth-of-type(1),.asistente-info--formulario > div:nth-of-type(2),.asistente-info--formulario > div:nth-of-type(3),.asistente-info--formulario > div:nth-of-type(4),.asistente-info--formulario > div:nth-of-type(5),.asistente-info--formulario > div:nth-of-type(6){
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}


.asistente-info--formulario > div> label{
    font-size: 11px;
    color: var(--variant-color-secondary);
}

.asistente-info--formulario .form-input{
    width: 100%;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    outline: 0;
    background-color: white;
    border: 1px solid var(--icons-color); 
}

.asistente-info--formulario .form-input::placeholder{
    font-size: 13px;
}

.asistente-info--formulario div label{
    align-self: self-start;
}

.asistente-info--formulario >div:nth-of-type(7){
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items: center;
}

.asistente-info--formulario >div:nth-of-type(7)>a{
    text-decoration: none;
    color: var(--variant-color-secondary);
}

.asistente-info--formulario >div:nth-of-type(7)>a:hover{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

/***************** INICIO: Editando la flechita de un elemento SELECT ¨***************/
.asistente-info--formulario >div select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.asistente-info--formulario > div:nth-of-type(1),.asistente-info--formulario > div:nth-of-type(2), .asistente-info--formulario > div:nth-of-type(6){
    position: relative;
}

.asistente-info--formulario > div:nth-of-type(1) .icon-arrow-up, .asistente-info--formulario > div:nth-of-type(2) .icon-arrow-up,.asistente-info--formulario > div:nth-of-type(6) .icon-arrow-up{
    position: absolute;
    top: 42%;
    right: 3%;
}

.asistente-info--formulario > div:nth-of-type(1) .icon-arrow-down, .asistente-info--formulario > div:nth-of-type(2) .icon-arrow-down,.asistente-info--formulario > div:nth-of-type(6) .icon-arrow-down{
    position: absolute;
    bottom: 15%;
    right: 3%;
}

/***************** FIN: Editando la flechita de un elemento SELECT ¨***************/

.container-doc-search{
    position: relative;
}

#form-icon-lupa--container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--variant-color-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.form-icon-lupa{
    /*position: absolute;
    right: 10px;
    top: 10px;*/
    color: white;
}
*/

.menu aside{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid var(--variant-color-main);
}

/* **************************Checkout:Segunda Sección de Principal > Resumen de compra: short y large*/

#asistente-precuenta{
    border-left: 2px solid var(--variant-color-main) ;
    border-bottom: 2px solid var(--variant-color-main) ;
    border-right: 2px solid var(--variant-color-main) ;
    box-shadow: 0px -2px 6px 0px var(--icons-color);

    /*border: 2px solid var(--variant-color-main);*/
    /*border-radius: 5px;*/
    padding: 20px 10px ;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    row-gap: 15px;
}

#asistente-precuenta h3{
    text-align: left;
    font-size: 15px;

}

#asistente-precuenta > div:nth-child(2){
    display: flex;
    column-gap: 20px;
    color: var(--variant-color-secondary);
    font-size: 14px;
}

#asistente-precuenta > div:nth-child(3){
    display: flex;
    column-gap: 10px;
    color: var(--variant-color-secondary);
    font-size: 14px;
}

#asistente-precuenta > div:nth-child(4){
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#asistente-precuenta > div:nth-child(4) h5{
    font-size: 16px;
}



/* **************************Checkout:Tercea Sección de Principal > Método de pago*/

#asistente-info-mediopago{
    display: none;
}


/* **************************Checkout:Cuarta Sección de Principal > Pago*/

#asistente-datos-mediopago{
    display: none;
}



.principal{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.container-cantidad-entradas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

/* =========================== Página Home ==================================== */

.menu-home{
    padding: 30px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    background-color: var(--soft);
}

.menu-home>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-home>div:nth-child(2) a{
    color: red;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
}

.menu-home>div:nth-child(2) a:hover{
    color: #C70833;
    text-decoration: underline;
}

.categorias-ventana{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.categorias-ventana >div input{
    /*display: none;*/
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.categorias-ventana >div label{
    padding: 5px 10px;
    border: 1px solid var(--icons-color);
    border-radius: 10px;
    background-color: white;
    color: var(--variant-color-secondary);
    cursor: pointer;
}


.categorias-ventana >div label:hover{
    border: 1px solid var(--main-color);
    color: var(--main-color);
}


.categorias-ventana >div input:focus + label{
    background-color: var(--main-color);
    color: white;
    box-shadow: 2px 3px 6px 2px rgba(0,0, 0, 0.15) ;
}

.home-principal{
    position: relative;
    padding: 40px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cards{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 95%;
}

#cards h1{
    font-weight: 800;
    font-size: 25px;
}

/*Estilos de una card*/

.cards-container{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(1, auto);
    width: 100%;
}

.event-card{
    width: 100%;
    box-shadow: 2px 3px 6px 0px rgba(0,0, 0, 0.15);
    border-radius: 10px;
    overflow: hidden;
}

.event-card--media{
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 205px;
}

.event-card img{
    width: 100%;
    object-fit: cover;
    display: flex;
}

.event-card--info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 0;
}

.event-card--info h3{
    font-size: 15px;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
    height: 36px;
}

.evento-info--date{
    display: flex;
    background-color: var(--soft);
    padding: 7px 15px;
    column-gap: 10px;
    color: var(--variant-color-secondary);
}

.evento-info--date p{
    font-size: 15px;

}

.evento-info--cantidad{
    display: flex;
    padding-left: 15px;
    font-size: 15px;
    background-color: var(--soft);
    padding: 7px 15px;
    justify-content: space-between;
    align-items: center;
}


.evento-info--cantidad > div{
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.icon-minus{
    font-size: 20px;
    color: var(--icons-color);
    cursor: pointer;
}

.icon-plus{
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}

.icon-heart{
    color: var(--icons-color);
    font-size: 20px;
    cursor: pointer;
}

.icon-heart:hover{
    color: rgb(150, 34, 34);
}

.evento-info--cta{
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* =========================== Página Registro ==================================== */

.menu-registro{
   display: none; 
}

.contenido-adicional{
   display: none; 
}

.principal--registro{
    padding: 0 20px;
    margin: 20px 0 50px 0;
}

.principal--registro >a{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
}

.principal--registro >h1{
    color: var(--secondary-color);
    font-size: 34px;
    font-weight: 800;
    text-align: left;
}

/* *********************** FORMULARIO*/

#nombre-input::placeholder, #apellido-input::placeholder, #correo-input::placeholder, #contra-input::placeholder {
    color: var(--icons-color);
    font-size: 16px;
    letter-spacing: 1px;
}

#pais-input, #sexo-input{
    color: var(--icons-color); 
    font-size: 16px;
    background-color: var(--input-background1);
}

.register-input{
    background-color: var(--input-background1);
}


.form-registro {
  /*margin: 30px auto;*/
  /*padding: 25px 30px;*/
  border-radius: 10px;
  /*box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);*/
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form-registro .form-info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-registro .form-checks{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    text-align: left;
}

.form-checks{
    padding: 0 10px;
}

.form-registro .form-checks div{
    display: flex;
    column-gap: 5px;
    align-items: flex-start;
}

.form-registro .form-checks div label{
    font-size: 14px;
}

.form-registro .form-checks div label a{
    color: var(--variant-color-main);
    text-decoration: none;
    font-weight: 600;
}

.form-registro .form-checks div label span{
    color: var(--variant-color-secondary);
    font-weight: 800;
}

.form-registro .form-checks div label a:hover{
    text-decoration: underline;
}

/*
.form-registro h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}
.form-registro label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}
*/

/*
.form-registro input,
.form-registro select {
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
}*/

/*
.form-registro button[type="submit"],
.form-registro input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.form-registro button:hover,
.form-registro input[type="submit"]:hover {
  background-color: #019172;
}

*/
/*Eventos-Item*/
.tarjetas-evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.evento {
  text-align: center;
}
.icono-vertical {
  width: 120px;
  height: 120px;
  margin-top: 5px;
}
/*-----------------------------------------------------------------*/

/* =========================== Página Login ==================================== */

.menu-login{
   display: none; 
}

.principal--login{
    padding: 0 20px;
    margin: 20px 0 170px 0;
}

.principal--login >a{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
}

.principal--login >h1{
    color: var(--secondary-color);
    font-size: 34px;
    font-weight: 800;
    text-align: left;
}

.form-forget{
    text-align: end;
}

.form-to-register{
    display: flex;
    justify-content: space-between;
}

.form-forget-link, .form-to-register-link{
    text-decoration: none;
    font-size: 14px;
    color: var(--main-color);
}

.form-to-register > p{
    font-size: 14px;
    color: var(--secondary-color);
}


/* =========================== Página Carrito ==================================== */


#grid-carrito{
    position: relative;
    grid-template-areas: 
        "header"
        "principal"
        "contenido-adicional"
        "footer"
    ; 
}

.menu-carrito{
    display: none;
}

.principal-carrito{
    padding: 40px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

#cards-carrito{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 97%;
}

#cards-carrito h1{
    font-weight: 800;
    font-size: 25px;
}

.cards-carrito-container{
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(1, auto);
    width: 100%;
}


.carrito-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px; 
    box-shadow: 2px 3px 6px 0px rgba(0,0, 0, 0.15);
    padding: 30px 15px;
    row-gap: 20px;
}

.carrito-card-section1{
    width: 100%;
    display: grid;
    column-gap: 5px;
    grid-template-columns: 1fr 2fr 0.5fr;
    justify-items: center;
    align-items:flex-start;
}

.carrito-card-section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito-card-img-container{
    width: 100%;
    height: 61px;
    overflow: hidden;
}

.carrito-card-img-container img{
    width: 100%;
    object-fit: cover;
    display: flex;

}

.carrito-card-info-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.carrito-card-info-container > p{
    font-size: 14px;
    color: var(--icons-color);
}


.carrito-card-section2 > div{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.carrito-card-icon-container{
    justify-self: self-end;
}

.icon-minus{
    font-size: 25px;
}

.icon-plus{
    font-size: 25px;
}


.delete-icon{
    font-size: 25px;
    color: var(--variant-color-secondary);
    cursor: pointer;
}

.carrito-card-section2 > div > span{
    color: var(--variant-color-secondary);
    font-weight: 700;
}

.carrito-card-section2 > p{
    color: var(--variant-color-secondary);
    font-weight: 700; 
}

.product-big{
    display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  Resumen de compra ~~~~~~~~~~*/
/* &&&&&&&&&&&&&&&&&&&&&&&&&& VERSION CORTA*/


.resumen-compra{
    width: 100%;
}

#resumen-compra-short{
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--soft);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 25px;
}
.resumen-eventos{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.icon-container-up{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--soft);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: -15%;
    right: calc(50% - 25px);
    padding: 8px;
    cursor: pointer;
}

.icon-container-down{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--soft);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: -8%;
    right: calc(50% - 25px);
    padding: 8px;
    cursor: pointer;
}


.resumen-eventos-total{
    display: flex;
    justify-content: space-between;
}

.resumen-eventos-total{
    font-size: 15px;
    font-weight: 500;
}

.resumen-eventos > a{
    width: 90%;
    align-self: center;
}

.arrow-up-icon, .icon-container-down{
    font-size: 20px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&& VERSION EXTENDIDA*/

#resumen-compra-large{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--soft);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 25px 25px;
}

.cantidad-eventos{
    text-align: start;
    font-size: 20px;
    color: var(--main-color);
    font-weight: 800;
}
.detalle-card-resumen{
    display: grid;
    grid-template-columns: 3fr 1fr 0.5fr;
    font-size: 14px;
    font-weight: 400;
}

.detalle-card-resumen .evento-name{
    text-align: start;
}

.eventos-detalle-container{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-bottom: 1px solid var(--main-color);
}


/*Pantallas medianas - tablet*/

@media screen and ( min-width: 501px) {
    
    .grid-container{
        /*grid-template-columns: repeat(2 auto);*/

        grid-template-areas: 
            "header header"
            "menu menu"
            "principal contenido-adicional"
            "footer footer"
        ;
    }
    /*Estilos de la cabecera*/

    .header .navbarSinSesion{
        grid-template-areas: 
            "header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1"
            "header2 header2 header2 header2 header2 header2 header4 header4 header4 header4 header4 header4"
            "header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3"
        ;

        row-gap: 15px;
    }

    .header .navbarEnSesion{
        grid-template-areas: 
            "header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1 header1"
            "header2 header2 header2 header2 header2 header2 header5 header5 header5 header5 header5 header5"
            "header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3 header3"
        ;

        row-gap: 15px;
    }

    .navbar-section3{
        column-gap: 35px;
    }

    /* ================= Página checkout */

    #grid-checkout{
        grid-template-areas: 
            "header header "
            "menu menu"
            "principal principal "
            "footer footer "
        ;
    }

    .header2{
        grid-area: header;
    }

    .navbar-checkout{
        padding: 0px 20px;
    }

    /* Estilos de Footer */

    .footer a{
        text-decoration: none;
        color: white;
    }

    .footer{
        grid-template-areas: 
        "footer1 footer1 footer1  "
        "footer2 footer3 footer4"
        ;
        row-gap: 40px;
        padding: 70px 40px ;
    }
    /* ================= Página Login */

        .principal--login{
            padding: 0 60px;
        }

    /* =========================== Página Home ==================================== */

    #grid-home{
        grid-template-areas: 
            "header header"
            "menu menu"
            "principal principal"
            "footer footer"
        ;
    }

    .home-principal{
        padding: 40px 15px 60px 15px
    }

    /*Estilos de una card*/

    .cards-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    
    #cards{
        width: 90%;
    }

    /* =========================== Página Carrito ==================================== */

    .product-big{
        display: block;
    }   

    .product-small{
        display: none;
    }   

    .carrito-card-img-container{
        height: 100px;
    }

    .principal-carrito {
        padding: 40px 15px;
    }
    .carrito-card {
        padding: 30px 35px;
    }

    .carrito-card-info-container{
        justify-self: self-start;
        text-align: left; 
        align-items: self-start;
    }

    .carrito-card-section1{
        column-gap: 15px;
    }
}


/*Pantallas grandes - laptop*/

@media screen and ( min-width: 801px) {
        
    .grid-container{
        /*grid-template-columns: repeat(2 auto);*/

        grid-template-areas: 
            "header header header header"
            "menu principal principal contenido-adicional"
            "footer footer footer footer"
        ;
    }

    /*Estilos del Header*/

    .header .navbarSinSesion{
        grid-template-areas: 
            "header1 header1 header2 header2 header2 header3 header3 header3 header3 header4 header4 header4"
        ;
        row-gap: 15px;
    }

    .header .navbarEnSesion{
        grid-template-areas: 
            "header1 header1 header2 header2 header2 header2 header3 header3 header3 header5 header5 header5"
        ;

        row-gap: 15px;
    }

    .navbar-section1{
        display: flex;
        justify-content: flex-end;
    }

    .navbar-section3{
        column-gap: 35px;
    }

    /* Estilos de Footer */

    .footer{
        grid-template-areas: 
        "footer1 footer2 footer3 footer4"
        ;

        padding: 70px 60px ;
    }


    .menu aside{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        border-bottom: 0;
    }

    /* ================= Página registrar */

    #grid-registro{
        grid-template-columns: repeat(4, 1fr);

        grid-template-areas: 
            "header header contenido-adicional contenido-adicional "
            "principal principal contenido-adicional contenido-adicional"
            "footer footer footer footer"
        ;
    }
    .container-background-image{
        display: block;
        background-image: url(./img/concert.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .principal--registro{
        padding: 50px 40px;
    }

    /* ================= Página Login */

    #grid-login{
        grid-template-columns: repeat(4, 1fr);

        grid-template-areas: 
            "header header contenido-adicional contenido-adicional "
            "principal principal contenido-adicional contenido-adicional"
            "footer footer footer footer"
        ;
    }

    .principal--login{
        padding: 0 100px;
    }

    /* =========================== Página Home ==================================== */

    #grid-home{
        grid-template-areas: 
            "header header header header"
            "menu menu menu menu"
            "principal principal principal principal"
            "footer footer footer footer footer"
        ;
    }

    #cards h1{
        font-size: 35px;
        text-align: start;
    }

    .home-principal{
        padding: 40px 80px 80px 80px
    }

    #cards{
        row-gap: 40px;
        width: 90%;
    }

    /*Estilos de una card*/

    .cards-container{
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
    }


}

/*Pantallas super grandes*/

@media screen and ( min-width: 1550px){

/* =========================== Página Home ==================================== */

    #cards{
        width: 75%;
    }

/* =========================== Boton Flotante cart ==================================== */

#btn-flotante-cart{
    width: 100px;
    height: 80px;
    right: 0;
    bottom: 60%;
} 

.icon-shopping-fotante{
    font-size: 40px;
}

#btn-flotante-cart span{
    width: 28px;
    height: 28px;
    right: 26%;
    top: 5%;
    font-size: 16px;
}

    /* ================= Página Login */


    .principal--login{
        padding: 0 200px;
    }
}